@import "../mixin";
.editor {
  @include montserrat-font;
}
.editor__title {
  color: #635c73;
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

.editor__title--position {
  margin-top: 0;
  margin-bottom: 38px;
}

.editor__subscr {
  font-size: 21px;
  @include lato-font;
  text-align: center;
}

.editor__subscr--position {
  padding: 0 140px;
}

.editor-menu {
  @include flex-center;
  list-style-type: none;
  padding: 0;

}

.editor-menu__link {
  @include links;
  @include flex-center;
}

.editor-menu__link--sizeL {
  padding: 6px 8px;
}

.editor-menu__title {
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
}
.editor-menu__item {
  @include flex-center;
  margin: 0 3px 20px 3px;
}

.editor-menu__count {
  @include links;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 8px;
}

.editor-menu__link--decor {
  background-color: #f2f2f2;
  border-right: 1px solid #d5d5d5 ;
}

.editor-menu__item {
  border: 1px solid #d5d5d5;
}

.editor-menu__position {
  margin: 36px auto;
}

.editor__padding {
  padding-bottom: 70px;
  padding-top: 129px;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .editor__subscr--position {
    padding: 0;
  }

  .editor__title {
    font-size: 42px;
  }

  .editor__subscr {
    font-size: 21px;
  }

}

@media only screen and (max-width: 420px) {
  .editor__title {
    font-size: 26px;
  }

  .editor__subscr {
    font-size: 14px;
  }

  .editor-menu {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}