@import "../mixin";
@import "../components/buttons";

.header {
  background: url("../img/img@1X.png") no-repeat center center / cover;
  text-align: center;

  &__title {
    @include montserrat-font;
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    color: white;

    &--position {
      padding: 60px 0 18px;
    }
  }

  &__subtitle {
    @include lato-font;
    font-size: 37px;
    font-weight: 400;
    color: rgba(141, 129, 172, 255);
    text-align: center;
  }

  &__description {
    text-transform: uppercase;
    font-size: 18px;
    @include montserrat-font;
    font-weight: 400;
    color: rgba(132, 142, 151, 255);
    text-align: center;

    &--position {
      padding: 18px 0 487px;
    }
  }
}

.button-header {
    position: absolute;
    top: 780px;
    left: 0;
    right: 0;

  &__description {
    @include montserrat-font;
    font-weight: 400;
    font-size: 14px;
    color: rgba(132, 142, 151, 255);
    text-align: center;
    padding-top: 19px;
  }
}
  .button--header {
    box-sizing: border-box;
    padding: 20px 79px;
    font-size: 19px;
  }

  @media only screen and (max-width: 992px) {
    .header{
      &__title {
        font-size: 52px;

        &--position {
          padding: 50px 0 26px;
        }
      }

      &__subtitle {
        font-size: 17px;
      }

      &__description {
        font-size: 12px;

        &--position {
          padding: 20px 0 480px;
        }
      }
    }
    .button-header {
      top: 747px;
    }
  }
@media only screen and (max-width: 480px) {
  .header {
    &__title {
      font-size: 40px;

      &--position {
        padding: 43px 0 20px;
      }
    }

    &__subtitle {
      font-size: 20px;
      padding: 0 35px;
      line-height: 40px;
    }

    &__description--position {
      padding: 20px 0 424px;
    }
  }

  .button-header {
      top: 723px;

      &__description {
        padding-top: 13px;
      }
  }
  .button--header {
    font-size: 15px;
    padding: 13px 54px;
  }

}
  @media only screen and (min-width: 320px) {
    body {
      min-width: 320px;
    }
  }
