@import "../mixin";
@import "../components/buttons";

.navbar {
  background-color: #27262a;
    &--position {
      @include flex-between;
      padding: 30px 10px;
      flex-wrap: wrap;
      max-width: 100%;
    }

    &-logo {
      @include flex-center;
      flex: 0 0 0;

      &__img {
         background: url("../img/Logo@1X.png");
         width: 43px;
         height: 41px;
       }

      &__title {
        font-size: 24px;
        color: rgba(141, 129, 172, 255);
        @include lato-font;
        font-weight: 800;
        text-transform: uppercase;
      }
      &__title--position {
        padding-left: 17px;
      }
  }
  &-logo:hover .navbar-logo__img {
    background-image: url("../img/logo-hover@1X.png");
  }
  &-logo:hover .navbar-logo__title {
    color: white;
  }

  &-menu {
    flex: 1 1 10%;

    &--position {
      text-align: right;
      margin-right: 50px;
    }

    &__icon {
        display: none;
        width: 26px;
        height: 21px;
        position: relative;
        cursor: pointer;
        text-align: right;
    }

    &__item {
      display: inline-flex;
      padding-left: 48px;
    }

    &__link {
      @include montserrat-font;
      text-decoration: none;
      font-size: 16px;
      color: rgba(141, 129, 172, 255);
    }
    &__link:hover {
      color: white;
    }
  }
}
.icon__line {
  display: block;
  position: absolute;
  height: 4px;
  background: white;
  border-radius: 5px;
}
.icon__line:nth-child(1) {
  top: 0;
  width: 75%;
  left: 5px;
}

.icon__line:nth-child(2) {
  top: 11px;
  width: 100%;
  left: 0;
}

.icon__line:nth-child(3) {
  top: 21px;
  width: 100%;
  left: 0;
}

.button--navbar {
  padding: 10px;
  order: 2;
  box-sizing: border-box;
  flex: 0 0 145px;
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .navbar {
    &--position {
      padding: 22px 20px;
    }

    &-menu {
      flex: 0 0 100%;

      &--position {
        text-align: center;
        margin-right: 0;
        padding-top: 22px;
      }

      &__item:first-child {
        padding-left: 0;
      }
    }
  }

  .button--navbar {
    order: 0;
  }
}

@media only screen and (max-width: 553px) {
  .navbar-menu__item {
    padding-left: 23px;
  }
  .navbar-menu__item:first-child {
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {

    &-logo__title {
      display: none;
    }
    &--position {
      padding: 33px 15px;
    }

    &-menu {
      display: none;
      max-width: 290px;
      background-color: #333333;
      z-index: 1000;
      overflow: auto;

      &--position {
        position: absolute;
        top: 107px;
        left: 50%;
        margin-left: -145px;
        padding-top: 0;
      }

      &__title {
        display: none;
      }

      &__icon {
        display: block;
      }

      &__item {
        border: 1px solid #3b3b3b;
        width: 100%;
        padding: 0;
      }

      &__item:hover .navbar-menu__link{
        color: #8d81ac;
      }

      &__item:hover .menu__line-hover{
        display: block;
      }

      &__line-hover {
        display: none;
        width: 8px;
        height: 53px;
        margin-top: 19px;
        background-color: #8d81ac;
      }

      &__link {
        color: white;
        font-size: 19px;
        padding: 31px 0 36px 25px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .button--navbar {
    flex: 0 0 119px;
  }

}
@media only screen and (min-width: 320px) {
  body {
    min-width: 320px;
  }
}