@import "../mixin";
@import "../variables";
.price-list--flex {
  @include flex-center;
  width: 100%;
  flex-wrap: wrap;
}
.price--background {
  background-image: url('../img/base.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.price {
  @include montserrat-font;
}

.price__title {
 @include section-title;
  margin-bottom: 71px;
  margin-top: 0;

}

.price-item--size {
  width: 257px;
  margin: 0 6px;
}

.price-item {
  text-align: center;
}

.price-item--background {
  background-color: rgba(255,255,255,0.1);
}

.price-item__title {
  font-size: 24px;
  color: $priceColor;
  background-color: rgba(255,255,255,.2);
  margin: 0 0 32px 0;
  padding: 34px 0;
}

.price-item__amount {
  font-size: 60px;
  color: $priceColor;
  margin: 0 0 24px 0;
}

.price-item__term {
  color: #8b7d8c;
  position: relative;
}

.price-item__term:before {
  content: "";
  width: 60px;
  border-bottom: 5px solid #8d81ac;
  position: absolute;
  left: 0;
  bottom: -39px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.price-item__subsc {
  margin: 0 24px;
  font-size: 16px;
  color: $priceColor;
  margin-top: 75px;
  position: relative;
}

.bold {
  font-weight: bold;
}

.price-item-btn {
  @include links;
  color: $priceColor;
}

.price-item-btn--position {
  margin: 38px 0;
  bottom: 0;
}

.price-item-btn--style {
  padding: 16px;
  background-color: rgba(255,255,255,.2);
  border-radius: 25px;
}

.price-item-btn--style:hover {
  background-color: #d1cbd1;
  color: #7f6d78;
}

.price {
  padding-bottom: 149px;
  padding-top: 73px;
}

.price-item__title--active {
  padding: 48px 0;
  background-color: rgba(0,0,0,.2);
}

.price-item__amount--active {
  font-size: 82px;
}

.price-item-btn--active {
  margin-top: 82px;
}

.price-item--active {
  background-color: rgba(0,0,0,.1);
}

@media only screen and (max-width: 1110px) {
  .price-item--size {
    width: 230px;
  }
}

@media only screen and (max-width: 992px) {
  .price__title {
    margin-bottom: 47px;
    font-size: 42px;
  }

  .price {
    padding: 73px 50px 149px;
  }

  .price-item--size {
    margin:0 23px 42px;
    width: 257px;
  }

  .price {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .price {
    padding: 73px 0 149px;
  }
}

@media only screen and (max-width: 630px) {
  .price-item--size {
    margin:0 10px 42px;
  }
  .price__title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 575px) {
  .price__title {
    margin-bottom: 53px;
    font-size: 34px;
  }

  .price-item--size {
    margin: 0 2px 14px;
    width: 230px;
  }

.price {
  padding-bottom: 91px;
}
}
@media only screen and (max-width: 490px) {
  .price-item--size {
    margin: 0 2px 14px;
    width: 220px;
  }
}

@media only screen and (max-width: 479px) {
  .price-item--size {
    margin: 0 2px 14px;
    width: 257px;
  }
}

@media only screen and (max-width: 415px) {
  .price__title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 375px) {
  .price__title {
    font-size: 32px;
  }
}
