@import "../mixin";

.section-title {
  @include section-title;

  &--position {
    padding: 98px 0 92px;

  }
}

.talking {
  background: url("../img/testmonials-bg@1X.png") no-repeat center center / cover;
  text-align: center;
  margin-bottom: -7px;

  &-content {
    max-width: 1200px;
    @include flex-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &-block {
    width: 315px;
    padding-bottom: 112px;
  }

  &-block:first-child {
    padding-left: 0;
  }

  &-block:nth-child(4) {
    padding-left: 0;
  }

  &__footer {
    @include lato-font;
    font-size: 14px;
    color: rgba(162, 145, 165, 255);
    line-height: 20px;
    max-width: 857px;
    padding: 0 0 20px;
    margin: 0 auto;
  }

  &__line {
    height: 10px;
    width: 65%;
    background-color: #6b5d6e;
    margin: 0 auto;
  }
}

.talking-block__description {
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  @include lato-font;
  font-style: italic;
  line-height: 30px;
  font-weight: 800;

  &--position-first {
    padding-top: 37px;
  }

  &--position-second {
    padding-top: 33px;
  }

  &--position-third {
    padding-top: 26px;
  }
  &--position-fourth {
    padding-top: 37px;
  }
  &--position-fifth {
    padding-top: 32px;
  }

  &--position-sixth {
    padding-top: 32px;
  }
}

@media only screen and (max-width: 992px) {
  .section-title {
    font-size: 41px;

    &--position {
      padding: 79px 0 96px;
    }
  }
  .talking {
    margin-bottom: -10px;

    &-content {
      max-width: 990px;
      justify-content: space-around;
      padding-bottom: 70px;
    }

    &-block {
      padding: 0 18px 0;
    }

    &-block:nth-child(3) {
      padding-top: 54px;
    }

    &-block:nth-child(4) {
      padding-top: 84px;
    }

    &-block:nth-child(5) {
      padding-top: 58px;
    }

    &-block:nth-child(6) {
      padding-top: 52px;
    }


    &__footer {
      padding-right: 35px;
      padding-left: 35px;
    }

    &__line {
      height: 13px;
      width: 85%;
    }
  }
}
@media only screen and (max-width: 722px) {
  .talking-block {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 703px) {
  .section-title {
    line-height: 57px;
  }

  .talking {

    &-block {
      width: 230px;
    }
    &-block:nth-child(2) {
      margin-top: -28px;
    }
    &__footer {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .section-title {
    font-size: 37px;

    &--position {
      padding: 67px 27px 0;
    }
  }

  .talking {
    margin-bottom: -13px;

    &-content {

      padding-bottom: 44px;
    }

    &-block {
      width: 250px;
      padding: 45px 40px 0 40px;
      text-align: center;
    }

    &-block:nth-child(2) {
      margin-top: 0;
    }

    &-block:first-child {
      padding-left: 40px;
    }

    &-block:nth-child(4) {
      padding-left: 40px;
    }


    &__footer {
      display: none;
    }
    &__line {
      height: 16px;
    }
  }
}


@media only screen and (min-width: 320px) {
  body {
    min-width: 320px;
  }
}
