@import "../mixin";
.container--flex {
  @include flex-spacebetween;
  width: 50%;
  position: static;

}

.what-u-get {
  @include montserrat-font;
}

.what-u-get--padding {
  padding-top: 84px;
  padding-bottom: 33px;
  position: relative;
}
.what-u-get__title--position {
  float: right;
  right: 0;
  margin: 0 ;
}

.what-u-get__title {
  font-size: 46px;
  color: #8d81ac;
  font-weight: bold;
}

.what-u-get-options__item {
@include flex-spacebetween;
  width: 100%;
  margin-bottom: 34px;
}

.what-u-get-options__title {
  margin: 0 0 20px 0;
  font-size: 16px;
}

.what-u-get-options {
  padding:16px 90px 0 0  ;
  list-style-type: none;
}

.what-u-get-options__pic1 {
  margin-right: 23px;
}
.what-u-get-options__pic2 {
  margin-right: 44px;
}

.what-u-get-options__pic3 {
  margin-right: 58px;
  margin-left: 16px;
}

.what-u-get-options__pic4 {
  margin-right: 53px;
  margin-left: 11px;
}

.what-u-get-pic--position {
  margin-top: 32px;
  top: 120px;
  width: 50%;
  padding-left: 45px;
  position: absolute;
  right: 0;
}

.what-u-get-options__subsc {
  font-size: 14px;
  color: #848e97;
  line-height: 18px;
}

.what-u-get--background {
  background-color: #f4f4f4;
}

@media only screen and (max-width: 1200px) {
  .what-u-get__title {
    font-size: 44px;
  }
}
@media only screen and (max-width: 1140px) {
  .what-u-get__title {
    font-size: 42px;
  }

  .what-u-get-options {
    padding: 16px 45px 0 0
  }
}

@media only screen and (max-width: 1090px) {
  .what-u-get__title {
    font-size: 39px;
  }
}

@media only screen and (max-width: 1090px) {
  .what-u-get__title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 992px) {
  .container--flex {
    flex-wrap: wrap;
    width: 100%;
  }
  .what-u-get-options {
    width: 100%;
    padding: 0;
  }

  .what-u-get-pic--position {
    position: static;
    width: 100%;
    margin-left: 10px;
    margin-right: -10px;
    padding: 0;
  }

  .what-u-get__title--position {
    position: static;
    text-align: center;
    margin-bottom: 60px;
    float: none;
  }

  .what-u-get--padding {
    padding-top: 54px;
  }

  .what-u-get-options__subsc {
    font-size: 18px;
    line-height: 22px;
  }

  .what-u-get-options__title {
    font-size: 20px;
  }

  .what-u-get__title {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .what-u-get__title {
    font-size: 36px;
  }

  .what-u-get-options__subsc {
    font-size: 16px;
  }

  .what-u-get-options__title {
    font-size: 18px;
  }
}

  @media only screen and (max-width: 480px) {
    .what-u-get__title {
      font-size: 40px;
    }

  .what-u-get-options__item {
    flex-direction: column;
  }

  .what-u-get-options__pic {
    align-self: center;
    margin: 0 0 29px 0;
  }

  .what-u-get-options__title{
    text-align: center;
  }

  .what-u-get-options__subsc {
    text-align: center;
  }
}


@media only screen and (max-width: 410px) {
  .what-u-get-options__subsc {
    font-size: 14px;
  }

  .what-u-get-options__title {
    font-size: 16px;
  }

  .what-u-get__title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 370px) {
  .what-u-get__title {
    font-size: 30px;
  }
}