@mixin montserrat-font {
font-family: 'Montserrat', sans-serif;
}
@mixin lato-font {
font-family: 'Lato', sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin links {
  text-decoration: none;
  color: black;
  display: inline-block;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin section-title {
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
}