@import "../mixin";
.button {
  border-radius: 100px;
  background-color: #8d81ac;
  color: white;
  @include montserrat-font;
  border: none;
  font-weight: 900;
}
.button:hover {
  background-color: white;
  color: rgba(141, 129, 172, 255);
}